#creatorPanel {

  .creatorPanelContent {
    > p {
      margin-bottom: 30px;
      line-height: 22px;
    }

    .imagePanel, .textPanel {
      border: 1px dashed #A2A9B1;
      border-radius: 4px;
      margin: 0 0 20px 0;
      padding: 10px;
    }
  }
}

#addKeyPointpanel, #addKeyImagepanel {
  width: 150px;
  border-radius: 5px;
  background: white;
  position: fixed;
  display: none;
  border: 1px solid gray;
  padding: 15px;

  p {
    margin: 0 0 10px 0;
  }

  select {
    width: 100%;
    height: 30px;
    font-size: 14px;
    margin: 0 0 10px 0;
  }

  a {
    margin-bottom: 10px;
  }
}
